<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${CONTENT_TITLE} + ' - ' + ${LAYOUT_TITLE}">Default Title</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/public.admin/images/logos/favicon.png}" />
    <link rel="stylesheet" th:href="@{/public.admin/css/styles.min.css}" />
</head>

<body>
<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
     data-sidebar-position="fixed" data-header-position="fixed">
    <th:block layout:fragment="content"></th:block>
</div>
<script th:src="@{/public.admin/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/public.admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
</body>
</html>