<footer xmlns:th="http://www.thymeleaf.org" th:fragment="footer">
    <div class="py-6 px-6 text-center">
        <p class="mb-0 fs-4">
            <script>
                document.write(new Date().getFullYear()) &copy; BookStore
            </script>
        </p>
    </div>
</footer>
<script th:src="@{/admin/libs/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/admin/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/admin/js/sidebarmenu.js}"></script>
<script th:src="@{/admin/libs/apexcharts/dist/apexcharts.min.js}"></script>
<script th:src="@{/admin/js/app.min.js}"></script>
<script th:src="@{/admin/libs/simplebar/dist/simplebar.js}"></script>
<script th:src="@{/admin/js/dashboard.js}"></script>