<head xmlns:th="http://www.thymeleaf.org" th:fragment="head" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${CONTENT_TITLE} + ' - ' + ${LAYOUT_TITLE}">Default Title</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/admin/images/logos/favicon.png}"/>
    <link rel="stylesheet" th:href="@{/admin/css/app.css}"/>
    <link rel="stylesheet" th:href="@{/admin/css/styles.min.css}"/>
    <script th:src="@{/admin/libs/jquery/dist/jquery.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/additional-methods.min.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/38.0.1/classic/ckeditor.js"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/38.0.1/classic/translations/vi.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        window.swalSuccess = function (message) {
            return Swal.fire({
                icon: 'success',
                title: 'Thành công',
                text: message,
                showConfirmButton: false,
                timer: 3000
            });
        }

        window.swalError = function (message) {
            return Swal.fire({
                icon: 'error',
                title: 'Thất bại',
                text: message,
                showConfirmButton: false,
                timer: 3000
            });
        }

        window.swalConfirm = function (message, confirmText, cancelText, confirmCallback) {
            Swal.fire({
                title: 'Xác nhận',
                text: message,
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: confirmText,
                cancelButtonText: cancelText
            }).then((result) => {
                if (result.isConfirmed) {
                    confirmCallback();
                }
            });
        }
    </script>
</head>