<aside xmlns:th="http://www.thymeleaf.org" th:fragment="side-bar" class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a th:href="@{/admin/dashboard}" class="text-nowrap logo-img mx-auto my-3">
                <img th:src="@{/public.admin/images/Logo.svg}" width="100" alt=""/>
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
            <ul id="sidebarnav">
                <li class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/admin/dashboard}" aria-expanded="false">
                <span>
                  <i class="ti ti-layout-dashboard"></i>
                </span>
                        <span class="hide-menu">Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/admin/books}" aria-expanded="false">
                <span>
                  <i class="ti ti-book"></i>
                </span>
                        <span class="hide-menu">Sách</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/admin/categories}" aria-expanded="false">
                <span>
                  <i class="ti ti-category"></i>
                </span>
                        <span class="hide-menu">Thể loại</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/admin/sliders}" aria-expanded="false">
                <span>
                  <i class="ti ti-slideshow"></i>
                </span>
                        <span class="hide-menu">Slider</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/admin/vouchers}" aria-expanded="false">
                <span>
                  <i class="ti ti-discount"></i>
                </span>
                        <span class="hide-menu">Vouchers</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/admin/ribbons}" aria-expanded="false">
                <span>
                    <i class="ti ti-home-ribbon"></i>
                </span>
                        <span class="hide-menu">Ribbon</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link" th:href="@{/admin/orders}" aria-expanded="false">
                <span>
                    <i class="ti ti-package"></i>
                </span>
                        <span class="hide-menu">Đơn hàng</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>