<div th:fragment="pagination(page, url, params)" class="container mb-5" th:if="${page.totalPages > 0}">
    <div class="row justify-content-center">
        <div class="col-auto">
            <nav aria-label="Page navigation">
                <ul id="paginationList" class="pagination d-flex align-items-center">
                    <li class="page-item" th:classappend="${!page.hasPrevious()} ? 'disabled'">
                        <a class="page-link"
                           th:attr="href=${#strings.isEmpty(params)} ? @{${url}(page=${page.number - 1})} : @{${url}(page=${page.number - 1})} + ${params}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>

                    <th:block th:each="i : ${#numbers.sequence(0, page.totalPages - 1)}">
                        <li th:if="${page.totalPages <= 6 || i < 4 || (i >= page.number - 2 && i <= page.number + 2) || i >= page.totalPages - 4}"
                            class="page-item"
                            th:classappend="${page.number == i ? 'active' : ''}">
                            <a class="page-link"
                               th:attr="href=${#strings.isEmpty(params)} ? @{${url}(page=${i})} : @{${url}(page=${i})} + ${params}"
                               th:text="${i + 1}"></a>
                        </li>

                        <li th:if="${page.totalPages > 6 && i == 4 && page.number > 5}" class="page-item">
                            <span class="page-link">...</span>
                        </li>

                        <li th:if="${page.totalPages > 6 && i == page.totalPages - 5 && page.number < page.totalPages - 5}" class="page-item">
                            <span class="page-link">...</span>
                        </li>
                    </th:block>

                    <li class="page-item" th:classappend="${!page.hasNext()} ? 'disabled'">
                        <a class="page-link"
                           th:attr="href=${#strings.isEmpty(params)} ? @{${url}(page=${page.number + 1})} : @{${url}(page=${page.number + 1})} + ${params}"
                           aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
