<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/admin-empty.html}">

<body>
    <th:block layout:fragment="content">
        <div>
            <div
                class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
                <div class="d-flex align-items-center justify-content-center w-100">
                    <div class="row justify-content-center w-100">
                        <div class="col-md-8 col-lg-6 col-xxl-3">
                            <div class="card mb-0">
                                <div class="card-body">
                                    <a th:href="@{/}" class="text-nowrap logo-img text-center d-block py-3 w-100">
                                        <img th:src="@{/public.admin/images/Logo.svg}" width="100" alt="">
                                    </a>
                                    <p class="text-center">Book Store Admin</p>

                                    <div th:if="${error == 'bad_credentials'}" class="alert alert-danger" role="alert"
                                        th:text="'Email hoặc mật khẩu không đúng!'">
                                    </div>

                                    <form th:action="@{/admin/login-process}" method="POST" id="loginForm">
                                        <div class="mb-3 form-group">
                                            <label for="exampleInputEmail1" class="form-label">Email: <span
                                                    class="text-danger">*</span> </label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                name="username" aria-describedby="emailHelp">
                                        </div>
                                        <div class="mb-4 form-group">
                                            <label for="exampleInputPassword1" class="form-label">Mật khẩu <span
                                                    class="text-danger">*</span> </label>
                                            <input name="password" type="password" class="form-control"
                                                id="exampleInputPassword1">
                                        </div>

                                        <button type="submit"
                                            class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Đăng
                                            nhập
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script th:src="@{/public.admin/js/login.js}"></script>
    </th:block>
</body>

</html>