<section xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:fragment="content"
         layout:decorate="~{/layouts/empty.html}">
    <div class="container d-flex flex-column align-items-center justify-content-center min-vh-100 min-vw-100">
        <div class="row justify-content-center w-100">
            <div class="col-lg-5 col-md-7">
                <div class="card card-lg text-center shadow-lg">
                    <div class="card-body">
                        <div class="mb-5">
                            <h1 class="h2 mb-2">Đăng ký</h1>
                        </div>

                        <div th:if="${error}" class="alert alert-danger" role="alert">
                            <span th:text="${error}"></span>
                        </div>

                        <form th:action="@{/register}" method="post">
<!--                            <div class="form-group g-2 text-start mt-2">-->
<!--                                <label for="username">Username: <span class="text-danger">*</span></label>-->
<!--                                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>-->
<!--                            </div>-->
                            <div class="form-group g-2 text-start mt-2">
                                <label for="email">Username: <span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                            </div>
                            <div class="form-group g-2 text-start mt-2">
                                <label for="password">Password: <span class="text-danger">*</span></label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                            </div>
                            <div class="form-group g-2 text-start mt-2">
                                <label for="phone">Phone: <span class="text-danger">*</span></label>
                                <input type="number" class="form-control" id="phone" name="phone" placeholder="Phone" required>
                            </div>
                            <div class="form-group g-2 text-start mt-2">
                                <label for="address">Address: <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="address" name="address" placeholder="Address" required>
                            </div>


                            <div class="d-grid mt-3">
                                <button type="submit" class="btn btn-dark">Đăng ký</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>